<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
	
	<!-- 
		@changelog Add system `log4j` xml config 
	-->
	
    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p] [%C{2} %L] %m%n" />
        </layout>
    </appender>

    <root>
        <level value="TRACE"/>
        <appender-ref ref="ConsoleAppender"/>
    </root>

</log4j:configuration>